@using TCSA.V2026.Data.DTOs
@using TCSA.V2026.Data.Models
@using TCSA.V2026.Helpers
@using TCSA.V2026.Services
<div class="pa-4">
    <MudText Typo="Typo.body1" Align="Align.Center" Style="font-weight:bold">Community Feed</MudText>
    @if (IsLoading)
    {
        <p>Loading recent feed items...</p>
    }
    else
    {
        @if (RecentFeed.Count > 0)
        {
            @foreach (var item in RecentFeed)
            {
                <MudDivider />
                <div class="py-2">
                    @switch (item.ActivityType)
                    {
                        case ActivityType.ProjectCompleted:
                            <MudText Typo="Typo.body2">
                                <img src="@($"img/icons/{item.ProjectIconUrl}")" alt="Project Icon" style="height:1.6em;vertical-align:middle;" />
                                <strong>@(UserDisplayNameHelper.GetDisplayName(item.User))</strong> finished the <strong>@item.ProjectName</strong>
                            </MudText>
                            break;
                        case ActivityType.NewBelt:
                            <MudText Typo="Typo.body2">
                                <img src="@($"img/belts/{item.User.Level}-belt.png")" alt="Belt Icon" style="height:1.6em;vertical-align:middle;" />
                                <strong>@(UserDisplayNameHelper.GetDisplayName(item.User))</strong> earned the <strong>@item.ProjectName</strong> belt!
                            </MudText>
                            break;
                        case ActivityType.NewUser:
                            <MudText Typo="Typo.body2">
                                <img src="@($"img/icons/waving-hand.png")" alt="" style="height:1.6em;vertical-align:middle;" />
                                Welcome <strong>@(UserDisplayNameHelper.GetDisplayName(item.User))</strong> to the community!
                            </MudText>
                            break;
                    }
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        @TimeSpanFormatter.FormatDurationOpen(DateTimeOffset.UtcNow - item.Date)
                    </MudText>
                </div>
            }
        }
        else
        {
            <p>No recent feed items available.</p>
        }
    }
</div>

@code {
    [Inject] private IFeedService FeedService { get; set; } = default!;

    private List<FeedDisplay> RecentFeed { get; set; } = new List<FeedDisplay>();
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        RecentFeed = await FeedService.GetRecentFeedItems();
        IsLoading = false;
    }
}
