@using Microsoft.Extensions.Options
@using TCSA.V2026.Data.Models.Options
@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu Dense="true">
    <MudNavLink Href="" IconColor="Color.Primary" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="Gallery" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Bento">Gallery</MudNavLink>
    <MudNavLink Href="Feed"
                Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Filled.Feed"
                IconColor="Color.Primary">
        Community Feed
    </MudNavLink>
    <MudNavLink Href="Articles/articles"
                Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Filled.Newspaper"
                IconColor="Color.Primary">
        Articles
    </MudNavLink>
    <MudNavLink Href="Articles/blog"
                Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Filled.Book"
                IconColor="Color.Primary">
        Blog
    </MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavGroup Title="Dashboard" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Primary">
                <MudNavLink Href="Dashboard"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.GridView"
                            IconColor="Color.Primary">
                    Overview
                </MudNavLink>
                <MudNavLink Href="Dashboard/profile"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.VerifiedUser"
                            IconColor="Color.Primary">
                    Profile
                </MudNavLink>
                <MudNavLink Href="Dashboard/Roadmap"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Map"
                            IconColor="Color.Primary">
                    Roadmap
                </MudNavLink>
                <MudNavLink Href="Dashboard/Leaderboard"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Leaderboard"
                            IconColor="Color.Primary">
                    Leaderboard
                </MudNavLink>
                <MudNavLink Href="Dashboard/Activity"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Hiking"
                            IconColor="Color.Primary">
                    Activity
                </MudNavLink>
                <MudNavLink Href="Dashboard/Community"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Groups"
                            IconColor="Color.Primary">
                    Community
                </MudNavLink>
                <MudNavLink Href="Dashboard/Reviews"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.RateReview"
                            IconColor="Color.Primary">
                    Peer Reviews
                </MudNavLink>
                <MudNavLink Href="Dashboard/Courses"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.LibraryBooks"
                            IconColor="Color.Primary">
                    Courses
                </MudNavLink>
                <MudNavLink Href="Dashboard/Challenges"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Sports"
                            IconColor="Color.Primary">
                    Challenges
                </MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="@LinkOptions.Value.VipMembership"
                        Match="NavLinkMatch.Prefix"
                        Target="_blank"
                        Icon="@Icons.Material.Filled.School"
                        IconColor="Color.Primary">
                VIP Membership
            </MudNavLink>
            @* <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink> *@
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon 
                        Icon="@Icons.Material.Filled.Logout" Color="Color.Primary" Class="mr-3"></MudIcon>
                        <MudText Color="Color.Primary">
                        Logout
                        </MudText>
                </button>
            </form>
            <MudNavLink Href="Contribute"
                        Match="NavLinkMatch.Prefix"
                        Target="_blank"
                        Icon="@Icons.Material.Filled.Coffee"
                        IconColor="Color.Primary">
                Buy Us A Coffee
            </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register"
                        IconColor="Color.Primary"
                        Match="NavLinkMatch.Prefix"
                        Icon="@Icons.Material.Filled.Person">
                <MudText Color="Color.Primary">
                    Register
                </MudText>
            </MudNavLink>
            <MudNavLink Href="Account/Login"
                        IconColor="Color.Primary"
                        Match="NavLinkMatch.Prefix"
                        Icon="@Icons.Material.Filled.Login">
                <MudText Color="Color.Primary">
                    Login
                </MudText>
            </MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <MudNavLink Href="admin" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Admin</MudNavLink>
    </AuthorizeView>
</MudNavMenu>


@code {
    [Inject] private IOptions<LinksOptions> LinkOptions { get; set; }

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

